# dependencies
/node_modules

# Next.js build output
/.next
/out

# local environment variables and API keys
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
